#nav a{
    font-family: "Valorant";
}
div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Abt{
    font-family: "Valorant";
}
.h21{
    font-family: "Valorant";
}
.cnt{
    font-family: "Valorant";
}
h1{
    font-family: "Valorant";
}